.app {
  /* max-width: auto; */
  /* max-width: 390px;
  min-width: 390px; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.everything-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

html {
  display: flex;
  justify-content: center;
}
