.burgerMenu {
  /* height: 40px; */
  width: 100%;
  /* padding-top: 2px; */
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  padding-bottom: 9px;
  margin-bottom: 400px;
  background-color: #ffffff;
  color: white;
  z-index: 1;
}

.nav-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.login-register-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.login-button {
  background-color: #9ee795;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: #000000 2px 2px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  user-select: none;
  margin: 0.1rem;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  height: 40px;
  width: 65px;
  font-family: "Aoboshi One", serif;
}
.login-button:hover {
  background-color: #4563e7;
  color: white;
  text-emphasis-color: white;
}

.register-button {
  background-color: #425fdd;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: #000000 2px 2px 0 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  user-select: none;
  margin: 0.1rem;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  height: 40px;
  width: 65px;
  font-family: "Aoboshi One", serif;
}
.register-button:hover {
  background-color: #9ee795;
  color: black;
  text-emphasis-color: white;
}

/* .logo {
  max-height: 35px;
  min-height: 35px;
  min-width: 65px;
  max-width: 65px;
  margin-bottom: 20px;
} */

.logo-anchor {
  display: flex;
  align-self: flex-end;
}

.brand-name {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-style: "";
  font-size: 2.5rem;
  /* margin-left: 1rem; */
}
/* .navigation-menu {
  margin-left: auto;
} */

.navigation-menu ul {
  text-align: center;
  display: flex;
  max-width: 7.6rem;
  padding: 0;
  color: #fefefe;
}
.navigation-menu li {
  list-style-type: none;
  width: fit-content;
  color: #78af72;
}
.navigation-menu li a {
  text-decoration: none;
  width: fit-content;
  /* padding: 10%; */
  min-width: 100px;
  padding-right: 10px;
  /* width: 100%; */
  display: block;
  /* width: auto; */
  color: #ffffff;
  font-family: "Aoboshi One", serif;
}

.hamburger-dropdown-menu {
  box-shadow: #000000 2px 2px 0 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: #78af72;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: none;
}
.hamburger-dropdown-menu:hover {
  background-color: #4563e7;
  color: white;
  text-emphasis-color: white;
}

.hamburger-.hamburger-dropdown-menu {
  background-color: #5ea856;
}

@media screen and (max-width: 430px) {
  .burgerMenu {
    width: 100%;
  }
  .nav-menu-container {
    display: flex;
    align-items: center;
    margin-right: 0.7rem;
  }
  .navigation-menu {
    margin-left: auto;
  }
  .navigation-menu ul {
    display: none;
  }
  .hamburger-dropdown-menu {
    display: block;
  }
  .expanded {
    position: fixed;
    top: 0.9rem;
    right: 3rem;
    width: 100%;
  }

  .expanded ul {
    margin-top: 0.8rem;
  }

  .expanded li {
    background-color: #ffffff;
  }

  /* Show the login and register buttons in column when viewed on a small screen */
  .login-register-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .login-button {
    margin-bottom: 0.1rem;
  }
  .register-button {
    margin-top: 0.1rem;
  }
  /* Make the logo have smaller margins on a small screen*/
  .logo-anchor {
    margin: auto;
  }
}

@media screen and (max-width: 5000px) {
  .hamburger-dropdown-menu {
    display: block;
  }
}

@media screen and (max-width: 5000px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 5000px) {
  .navigation-menu ul {
    position: absolute;
    top: 40px;
    right: 0;
    margin-right: 20px;
    flex-direction: column;
    width: 100px;
    background-color: #ffffff;
  }
  .navigation-menu li {
    text-align: center;
    margin-left: auto;
    right: 0;
    padding-right: 20px;
  }
  .navigation-menu li a {
    padding-right: 20px;
    color: black;
    right: 0;
    /* width: 100%; */
    /* padding: 5px; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-bottom: 5px;
    /* border-radius: 30px;
    margin: 5px; */
  }
  .navigation-menu li:hover {
    background-color: #78af72;
  }
}

@media screen and (max-width: 5000px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 5000px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}

.logo {
  /* min-width: 120px;
  min-height: 20px;
  margin-top: 40px; */
  height: 30px;
  width: auto;
}
