.test {
  font-size: 100pt;
}

input > text {
  width: 200px;
}

.post-request {
  margin-top: 100px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Box for the component */
.ask-for-help {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  width: 350px;
  text-align: left;
  padding: 10px 30px;
}

#ask-for-help-form {
  display: flex;
  flex-direction: column;
}

#ask-for-help-title {
  text-align: center;
  margin: 0;
}

select {
  margin: 5%;
}
