.post-request {
  margin-top: 100px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Box for the component */
.ask-for-help {
  display: flex;
  flex-direction: column;
  border: 3px solid #000000;
  border-radius: 20px;
  margin: 20px;
  width: 350px;
  text-align: left;
  padding: 10px 30px;
  background-color: #7db8fa;
}

#ask-for-help-form {
  display: flex;
  flex-direction: column;
}

#ask-for-help-title {
  text-align: center;
  margin: 0;
}

#create-listing-btn {
  background-color: #78af72;
  border-radius: 20px;
  border: 3px solid #000000;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  align-self: center;
}

.ask-for-help-input {
  border-radius: 6px;
  margin-left: 30px;
  border: 1.5px solid #000000;
  margin: 10px 0px 10px 30px;
  width: 230px;
}

/* Text area sizing */
#ask-for-help-description {
  width: 230px;
  height: 147px;
}

.centered-text {
  text-align: center;
}

#description-div {
  display: flex;
}
.ask-for-help-div {
  display: flex;
  justify-content: space-between;
}

label {
  margin-top: 8px;
}
