/* GIVE AND FIND HELP STYLING */

/* Parent containers */
.give-and-find-help-container {
  margin-top: 5rem;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.give-and-find-help-title {
  font-size: 2.5rem;
}

/* Logos */
.find-help-image {
  height: 180px;
  width: 240px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.give-help-image {
  height: 180px;
  width: 190px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Search bar and button div */
#give-and-find-help-search-section {
  display: flex;
  width: 65%;
  min-width: 300px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  /* align-items: center; */
}

.give-and-find-help-search-box {
  border-radius: 12px;
  width: 45%;
  height: 30px;
  box-shadow: 0.5px 0.5px 5px 0.5px #9f9c9c;
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Search button */
.give-and-find-help-search-button {
  background-color: #92d18f;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: #000000 2px 2px 0 0;
  font-size: 1rem;
  font-weight: bolder;
  width: fit-content;
  min-height: 35px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  font-family: "Aoboshi One", serif;
}

.give-and-find-help-search-button:hover {
  background-color: #4563e7;
  color: white;
  text-emphasis-color: white;
}

/* Listings / Users Area */
.give-and-find-help-listings-area {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual box for each listing */
.give-and-find-help-individual-listing {
  display: flex;
  flex-direction: column;
  /* flex-basis: 30%; */
  font-size: 1.2rem;
  justify-content: center;
  background-color: #7db8fa;
  max-width: 350px;
  height: auto;
  border-radius: 20px;
  margin-top: 30px;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 10px 2px #9f9c9c;
}

/* Listings Area title */
.give-and-find-help-listings-area-title {
  font-size: 1.8rem;
}

/* Listing Title */
.give-and-find-help-listing-title {
  font-size: 1.6rem;
}

/* Contact user button */
.give-and-find-help-contact-user {
  background-color: #92d18f;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: #000000 2px 2px 0 0;
  font-size: 1.1rem;
  font-weight: bolder;
  min-height: 40px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  align-self: flex-end;
  font-family: "Aoboshi One", serif;
  color: black;
}
.give-and-find-help-contact-user:hover {
  background-color: #4563e7;
  color: white;
  text-emphasis-color: white;
}

/* Visit profile button */
.give-and-find-help-visit-profile {
  background-color: #92d18f;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: #000000 2px 2px 0 0;
  font-size: 1.1rem;
  font-weight: bolder;
  min-height: 40px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  align-self: flex-end;
  font-family: "Aoboshi One", serif;
  color: black;
}
.give-and-find-help-visit-profile:hover {
  background-color: #4563e7;
  color: white;
}

/* Div to style the subheading and info */
.give-and-find-help-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 19px;
  margin-right: 14px;
}

/* Styling for subheadings within the listings */
.give-and-find-help-subheading {
  font-weight: bolder;
}

/* Styling for info within the listings */
.give-and-find-help-info {
  font-size: 1.1rem;
}

/* Contact user button */
.give-and-find-help-user-contact {
  display: flex;
  flex: 1;
  justify-content: space-around;
  justify-self: flex-end;
  font-weight: bolder;
}

.contact-user-link {
  align-self: flex-end;
}

/* Loading gif */
.give-and-find-help-loading-gif {
  height: 50px;
  width: auto;
}

/* GIVE HELP SECTION */

/* Title in each listing box! */
.give-help-listing-title {
  font-size: 1.1rem;
}

/* Listing details */
#give-help-listing-details {
  margin: 3%;
  font-size: 1.1rem;
}

/* Sub-title under the listing title: skills wanted and date created */
/* NOT BEING USED */
/* .give-help-sub-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  /* margin: auto;
}
*/

/* THIS IS CURRENTLY NOT BEING USED - SEE give-help.js file
.give-help-user-info {
    margin-left: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

 No image showing on here at the moment
.give-help-image-container {
  margin-right: 60px;
  margin-left: 10px;
  margin-top: 15px;
} 

No profile picture in DB yet
.give-help-profile-picture {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

*/

/* Posted by and location */
.give-help-posted-by-div,
.give-help-location-div {
  display: flex;
  justify-content: space-around;
}

.give-help-date-posted {
  margin: auto;
}

/* Carousel Styling */

.carousel {
  display: flex;
  padding: 0;
}

.give-and-find-help-card-container {
  display: flex;
  max-width: fit-content;
}

.give-and-find-help-card {
  display: flex;
  transition: background-color 0.3s ease;
  flex-grow: 1;
  flex-basis: 0;
  background-color: #92d18f;
  color: black;
  max-height: 85px;
  max-width: 90px;
  min-width: 90px;
  min-height: 85px;
  border-radius: 50%;
  width: 33.33%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  align-content: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #000000;
  box-shadow: #2c2b2b 2px 2px 0 0;
}

.give-and-find-help-card-contents {
  margin: auto;
  align-content: center;
  font-weight: bold;
  font-size: 0.89rem;
}

.give-and-find-help-card.active {
  background-color: #92d18f;
  color: black;
}

.location {
  margin-bottom: 8px;
}

.give-and-find-help-left-arrow {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.give-and-find-help-right-arrow {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.give-and-find-help-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.give-and-find-help-dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #999;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}

.give-and-find-help-dot.active {
  background-color: #333;
}

.selected-card {
  background-color: #1eb95d;
}

/* FIND HELP SECTION */

/* Profile img and rating section */
.find-help-user-img-and-rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.find-help-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.find-help-profile-picture {
  max-height: 5rem;
  max-width: 5rem;
  min-height: 5rem;
  min-width: 5rem;
  border-radius: 50px;
}

.find-help-display-name {
  font-size: 1.1rem;
}

.find-help-rating {
  font-size: 1.1rem;
}

/* Listing details */
.find-help-about-me {
  margin: 0.7rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 430px) {
  .give-and-find-help-container {
    margin-top: 7rem;
  }
  .carousel {
    display: flex;
    padding: 0;
  }
  .give-and-find-help-right-arrow {
    margin-right: 0.1rem;
  }

  .give-and-find-help-card-container {
    display: flex;
  }
}

@media screen and (max-width: 360px) {
  .give-and-find-help-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
  }
  
  .give-and-find-help-card {
    max-height: 75px;
    max-width: 75px;
    min-width: 75px;
    min-height: 75px;
  }

  .give-and-find-help-card-contents {
    font-size: 0.72rem;
  }
  
}
