.about_me_desc {
  font-size: 10pt;
  font-weight: 200;
}


.reg-container {
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 90%;
}



/* Box for the component */
.registration {
  display: flex;
  flex-direction: column;
  border: 0.1875rem solid #000000;
  border-radius: 1.25rem;
  margin: 1.25rem;
  /* max-width: 21.875rem; */
  text-align: left;
  padding: 0.625rem 1.875rem;
  background-color: #7db8fa;
}

#reg-form {
  display: flex;
  flex-direction: column;
}

#reg-title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

#reg-btn {
  background-color: #78af72;
  border-radius: 1.25rem;
  border: 0.1875rem solid #000000;
  margin-top: 1.25rem;
  width: 9.375rem;
  height: 2.5rem;
  align-self: center;
  font-size: 1rem;
  font-weight: bolder;
  box-shadow: #000000 2px 2px 0 0;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
#boroughs.reg-input {
  cursor: pointer;
}

#categories-skills-wanted.reg-input {
  cursor: pointer;
}

#categories-skills-offered.reg-input {
  cursor: pointer;
}

#reg-btn:hover {
  background-color: #4563e7;
  color: white;
  font-weight: bolder;
  text-emphasis-color: white;
}

/* Styles each input box */
.reg-input {
  float: left;
  width: 75%;
  border-radius: 0.375rem;
  margin-left: 1.875rem;
  border: 0.09375rem solid #000000;
  margin: 0.625rem 0px 0.625rem 1.875rem;
  height: 1.5rem;
  font-size: 0.9rem;
}

/* Text area sizing */
#reg-description.reg-input {
  width: 35%;
  height: 6.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  width: 75%;
}

/* Centers the smaller text on the page */
.centered-text {
  text-align: center;
}

.small-text {
  font-size: 0.9rem;
}

/* Aligns the textarea with the label */
#description-div {
  display: flex;
}

/* Lines up labels and inputs */
.reg-div {
  display: flex;
  justify-content: space-between;
}

.reg-div-email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Lining up labels with input boxes */
.reg-label {
  float: left;
  width: 25%;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}


/* Media Queries for Responsiveness */

@media (max-width: 600px) {
  .registration {
    margin: 0.3125rem;
    max-width: 100%;
  }

  .reg-input {
    float: left;
    width: 75%;
    margin-left: 0.9375rem;
    cursor: pointer;
  }

  #reg-description {
    width: 9.325rem;
    height: 4.6875rem;
    box-sizing: border-box;
    width: 65%;
  }

  .reg-label {
    margin-top: 0.3125rem;
    float: left;
    width: 25%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .registration {
    margin: 0.3125rem;
    max-width: 100%;
  }

  .reg-input {
    float: left;
    width: 75%;
  }

  #reg-description {
    width: 9.325rem;
    height: 4.6875rem;
    box-sizing: border-box;
    width: 65%;
  }

  .reg-label {
    float: left;
    width: 25%;
  }
}

@media (min-width: 901px) {
  /* .post-request-container {
    min-width: 810px;
    max-width: 75%;
  } */
  .reg-input {
    float: left;
    width: 75%;
  }

  .reg-label {
    float: left;
    width: 25%;
  }

  .registration {
    margin: 0.3125rem;
    max-width: 100%;
  }

  #input.reg-input {
    float: left;
    width: 75%;
  }

  .reg-label {
    float: left;
    width: 25%;
  }

  #reg-description {
    width: 9.375rem;
  }
}
