.home-page {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 390px;
  min-width: 390px; */
}

.logo-and-image {
  display:flex;
  flex-direction: column;
height: 100%;}

.home-image {
  max-width: 40%;
  max-height: 3%;
  width: 40%;
  align-self: center;
  margin-bottom: 25px;
}

.app-logo {
  min-height: 3%;
  min-width: 10%;
  max-height: 5%;
  max-width: 15%;
  margin-top: 50px;
}

.media-section {display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.intro-text {
  text-align: center;
  max-width: 80%;
  font-size: 1.25rem;
  margin-top: 40px;
}

.button-container {
  max-width: 100%;
  display: inline-flex;
}

.home-page-buttons {
  /* background-color: #120EEA; */
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  /* color: #ffffff; */
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  margin: 30px;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home-page-buttons:hover {
  /* background-color: #92d18f; */
  /* color: black; */
  font-size: larger;
}

.home-page-buttons:active {
  box-shadow: #000000 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 701px) {
  .media-section {display: flex;
    flex-direction: row;
    margin-top: 70px;
  }

  .logo-and-image {
    display:flex;
    flex-direction: column;
    margin-top: 5%;
height: 100%;}

.home-image {width: 40%;
height: 100%;}

  .app-logo {
    margin-top: 0;
    margin-left: 40%;
    max-width: 20%;
    max-height: 20%;
  }

  .intro-text {
    max-width: 80%;
    text-align: left;
    margin-top: 15%;
    margin-left: 25px;
  }

  .button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 25px;
  }
}

.about {display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 80%;
}

.about-title {max-width: 80%;
font-size: 2rem;
font-weight: bold;
}

.about-info-list {font-size: 1.25rem;
}

.card-contents-container {display: flex;
  flex-direction: column;
min-width: 100%;}

.about-list-item {}

.carousel {display: flex;
    flex-direction: row;
  width: 80%;
  text-align: center;
justify-content: centre;}

.card { display: inline-block;
    background-color: #e9c5c5;
    text-align: center;
    border-radius: 25px;
   /* color: #000000;*/
    box-shadow: #000000 4px 4px 0 0;
    margin-top: 50px;
    margin-bottom: 60px;
    width: 70%;
    height: 5%;
}

.right-arrow {height: 30px;
    font-size: 20pt;
    display: inline block;
width: 30px;
border: none;
background-color: white;
text-align: center;
margin-top: 200px;
margin-left: 10px
}

.location {
  font-size: 1rem;
}

.left-arrow {height: 30px;
    font-size: 20pt;
    display: inline block;
width: 30px;
border: none;
background-color: white;
text-align: center;
margin-top: 200px;
margin-left: 10%;
margin-right: 10px;
}

.profile-image {border-radius: 50px;
  width: 60px;
  height: 60px;
  margin: 20px;}
  
  .message-icon { width: 50px;
    height: 40px;
    margin: 20px;}

.card-contents {
 
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  justify-items: center;
  justify-self: center;
}

.meet-title-container {display: flex;
  word-spacing: 20px;
  flex-direction: row;
  text-align: center;
  width: 100%;
  justify-content: space-around;}

.meet{
  color: #000000;
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.person {
  color: #4563e7;
  text-align: center;}

.image-icon-container{
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

#find-help-button {background-color: #92d18f;
  color: black;
  font-size: 20px;

}

#find-help-button:hover {background-color: #4563e7;
  color: white;
  font-size: larger;  
}

#give-help-button {background-color: #4563e7;
  color: white;;
  font-size: 20px;  
}

#give-help-button:hover {background-color: #92d18f;
  color: black;
  font-size: larger;  
}

.home-page-map {width: 70%;
  height: 50%;
  height: auto;
  border-radius: 15px;
align-self: center;
}

.map-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}

.map-text {font-size: 1.25rem;
  margin-top: 10px;
  text-align: center;
}